.detailsContainer {
  display: flex;
  gap: 25px;
}

.pokemonCard {
  width: 40%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 2px solid #eee;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.pokemonCard img {
  width: 100%;
}

.infoDisplay {
  flex-grow: 1;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
}

.pokemonName {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 20px;
}

.pokemonTypes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 30px 0;
  gap: 10px;
  font-size: large;
  font-weight: 450;
}

.pokemonType {
  padding: 5px 10px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.number {
  margin-right: 8px;
}

.name {
  text-transform: capitalize;
  font-size: large;
  font-weight: 450;
  margin-bottom: 10px;
}
