.homePageParent {
  background-image: url("/homepage-background.jpg");
  background-size: cover;
  background-position: center;
  margin: -25px;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
}
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  gap: 20px;
}
.info {
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-transform: capitalize;
}
